<div class="app-sidebar colored">
    <div class="sidebar-header">
        <a class="header-brand" href="../index.ejs">
           
            <span class="text"><%= locals.type %> Admin </span>
        </a>
       
      </div>
    


      <% if(locals.type === "pd"){%>
        <div class="sidebar-content">
            <div class="nav-container">
                <nav id="main-menu-navigation" class="navigation-main">
                    <div class="nav-lavel">Navigation</div>
                <div class="nav-item active">
                    <a href="/pd/dashboard"><i class="ik ik-bar-chart-2"></i><span>ড্যাশবোর্ড</span></a>
                </div>

                <div class="nav-lavel">ছকপত্রঃ-</div>
                <div class="nav-item">
                    <a href="/pd/chakKa"><i class="ik ik-package"></i><span> উপজেলার তথ্য</span></a>
                </div>
                <div class="nav-item">
                    <a href="/pd/chakKHa"><i class="ik ik-package"></i><span>জেলার তথ্য</span></a>
                </div>
                <div class="nav-item">
                    <a href="/pd/bijSale"><i class="ik ik-package"></i><span>বীজ উৎপাদন ও বিক্রয় সংক্রান্ত<br>( উপজেলা ভিত্তিক তথ্য)</span></a>
                </div>  
                <div class="nav-item">
                    <a href="/pd/sale"><i class="ik ik-package"></i><span>বীজ উৎপাদন ও বিক্রয় সংক্রান্ত <br>( জেলা ভিত্তিক তথ্য)</span></a>
                </div>  
               

                    
    
                    
                </nav>
            </div>
        </div>
    </div>
    
    <% }else if (locals.type === "dd"){%>
        <div class="sidebar-content">
            <div class="nav-container">
                <nav id="main-menu-navigation" class="navigation-main">
                    <div class="nav-lavel">Navigation</div>
                <div class="nav-item active">
                    <a href="/dd/dashboard"><i class="ik ik-bar-chart-2"></i><span>ড্যাশবোর্ড</span></a>
                </div>
               
                <div class="nav-lavel">ছকপত্রঃ-</div>
                <div class="nav-item">
                    <a href="/dd/chakKa"><i class="ik ik-package"></i><span> উপজেলার তথ্য</span></a>
                </div>
                <div class="nav-item">
                    <a href="/dd/chakKHa"><i class="ik ik-package"></i><span>জেলার তথ্য</span></a>
                </div>
                <div class="nav-item">
                    <a href="/dd/bijSale"><i class="ik ik-package"></i><span>বীজ উৎপাদন ও বিক্রয় সংক্রান্ত তথ্য</span></a>
                </div>    
    
                    
                </nav>
            </div>
        </div>
    </div>
<% }else { %>
    <div class="sidebar-content">
        <div class="nav-container">
            <nav id="main-menu-navigation" class="navigation-main">
                <div class="nav-lavel">Navigation</div>
                <div class="nav-item active">
                    <a href="/upazilla/dashboard"><i class="ik ik-bar-chart-2"></i><span>ড্যাশবোর্ড</span></a>
                </div>
               
                <div class="nav-lavel">ছকপত্রঃ-</div>
                <div class="nav-item">
                    <a href="/upazilla/chakKa"><i class="ik ik-package"></i><span> উপজেলার তথ্য</span></a>
                </div>
                <div class="nav-item">
                    <a href="/upazilla/bijSale"><i class="ik ik-package"></i><span>বীজ উৎপাদন ও বিক্রয় সংক্রান্ত তথ্য</span></a>
                </div>
            </nav>
        </div>
    </div>
</div>
<% }   %>